<div class="profile-item">
       <div class="btn-item">Update Password </div>
</div>

<div class="profile-item">
       Address <div class="address-item">{{profile.address}}</div>
       <div class="btn-item">Update Address </div>
</div>


<div class="profile-item">
    Height <div class="address-item">{{profile.height}}</div>
    <div class="btn-item">Update Height </div>
</div>

<div class="profile-item">
    Weight(lbs) <div class="address-item">{{profile.weight}}</div>
    <div class="btn-item">Update Weight </div>
</div>

<div class="profile-item">
     Age <div class="address-item">{{profile.age}}</div>
    <div class="btn-item">Update Age </div>
</div>


<div class="profile-item">
    Your Workout plan <div class="address-item">{{profile.subscription}}</div>
   <div class="btn-item">Update Age </div>
</div>
